:host ::ng-deep .p-dialog{
    min-width: 6rem;
    width: 300px;
	height: 400px;
	position: fixed;
	right: 0.5rem;
	bottom: 0.5rem;
}
:host ::ng-deep .p-dialog .p-dialog-header{
    background: var(--yellow-400);
}
:host ::ng-deep .p-dialog .p-dialog-content{
    background: var(--orange-50);
}
:host ::ng-deep .p-dialog .p-dialog-footer{
    background: var(--gray-50);
}

.chatIconContainer{
	position: fixed;
	right: 3rem;
	bottom: 3.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.enviado{
	display: block;
	float: right;
	background: var(--yellow-200);
	min-width: 50.01%;
	border-radius: 10px;
	text-align: left;
}
.recibido{
	display: block;
	float: left;
	background: var(--green-100);
	min-width: 50.01%;
	border-radius: 10px;
	text-align: left;
}